<script setup lang="ts">
import { DstCustomData, useUserCustomDataStore } from 'src/stores/UserCustomDataStore';
import { ref, watchEffect } from 'vue';

const props = defineProps<{
    dst_id: number
}>()

const UserCustomDataStore = useUserCustomDataStore()
const CustomData = ref<DstCustomData | null>(null)

watchEffect(() => {
    CustomData.value = UserCustomDataStore.getCustomInfo(props.dst_id) || null
})


</script>
<template>
    <div class="full-width full-height">
        <q-card class="full-height" flat bordered>
            <q-editor
                class="full-height"
                :model-value="CustomData?.notes || ''"
                @update:model-value="e => UserCustomDataStore.UpdateContactNote(props.dst_id, e)"
                min-height="90%"
            />
        </q-card>
    </div>
</template>