<script  lang="ts">
export default {
    name: 'ShowDst'
}
</script>
<script setup lang="ts">
import { useScrapedDataStore } from 'src/stores/ScrapedDataStore';
import { ScrapedDienststellen } from 'src/stores/StoreTypes';
import { ref } from 'vue'
import { onBeforeRouteUpdate, useRoute } from 'vue-router';
import Dst_show from 'src/components/dst_show.vue';


const ScrapedDataStore = useScrapedDataStore()

const Dst = ref<ScrapedDienststellen>()

// watch route param id change
const route = useRoute();

console.log(route.params.id);


const fetchData = async (id: string) => {
    const data = await ScrapedDataStore.GetByoeID(parseInt(id))
    Dst.value = data
}
fetchData(route.params.id as string);

onBeforeRouteUpdate(async (to, from) => {
    if (to.params.id !== from.params.id) {
        console.log(to.params.id);
        fetchData(to.params.id as string);
    }
})


</script>
<template>
    <q-page class="q-px-md q-py-sm full-height" padding>
        <dst_show :dst="Dst"></dst_show>
    </q-page>
</template>