<script setup lang="ts">import { useVersionStore } from 'src/stores/versionStore';

const VersionStore = useVersionStore()
</script>
<template>
    <q-page padding class="text-center absolute-center">
        <q-card style="width: 90vw;max-width: 900px;">
            <img src="https://meldestein.de/assets/images/meld-1256x415.png" />
            <q-card-section>
                <div class="text-h6">THW-Adressbuch</div>
                <div class="text-subtitle">V{{ VersionStore.packageVersion }}</div>
                <div class="text-subtitle">BUILD: {{ VersionStore.BuildStamp }}</div>
                <div class="text-subtitle2">by Manuel Rabenmüller</div>
            </q-card-section>
            <q-card-section>
                <q-btn
                    target="_blank"
                    color="primary"
                    href="https://meldestein.de/imprint.html"
                >Meldestein Imprint</q-btn>
                <br />
                <br />
                <q-btn
                    target="_blank"
                    color="primary"
                    href="https://gitlab.com/Manuel_Raven/thw-adressbuch"
                >GitLab Repository</q-btn>
                <br />
                <br />
                <p>Feedback entweder via Issue im GitLab Repository oder via THW-Hermine</p>
            </q-card-section>
        </q-card>
    </q-page>
</template>