<script  lang="ts">
export default {
    name: 'ListLv'
}
</script>
<script setup lang="ts">
import { ref } from 'vue'
import Dst_list from 'src/components/dst_list.vue';
import Dst_search from 'src/components/dst_search.vue';
const searchName = ref<string>('')

</script>
<template>
    <q-page class="q-px-md q-py-sm full-height">
        <Dst_list :name="searchName" :code="searchName" :oeId="searchName" type="LV">
            <Dst_search type="LV" @search-name="(e) => searchName = e"></Dst_search>
        </Dst_list>
    </q-page>
</template>