<script  lang="ts">
export default {
    name: 'ListOv'
}
</script>
<script setup lang="ts">
import { ref } from 'vue'
import Dst_list from 'src/components/dst_list.vue';
import Dst_search from 'src/components/dst_search.vue';

const searchName = ref<string>('')
const einheit = ref<string>('')
const teileinheit = ref<string>('')
const parentLV = ref<string>('')
const subtractPixels = ref<number>(190)

const SetPixels = (e: boolean) => {
    if (e) {
        subtractPixels.value = 280
    } else {
        subtractPixels.value = 190
    }
}

</script>
<template>
    <q-page class="q-px-md q-py-sm full-height">
        <Dst_list :name="searchName" :einheit="einheit" :teileinheit="teileinheit" :parent="parentLV"
            :subtract-pixels="subtractPixels" :code="searchName" :oeId="searchName" type="OV">
            <Dst_search type="OV" @search-name="(e) => searchName = e" @einheit="(e) => einheit = e"
                @teileinheit="(e) => teileinheit = e" @parent-l-v="(e) => parentLV = e" @expanded="SetPixels"></Dst_search>
        </Dst_list>
    </q-page>
</template>