<script setup lang="ts">
import Map_settings from 'src/components/settings/map_settings.vue';
import Debug_settings from 'src/components/settings/debug_settings.vue';
import Custom_data_inexport from 'src/components/settings/custom_data_inexport.vue';
</script>
<template>
    <q-page class="q-gutter-md" padding style="max-height: inherit; overflow: auto !important;">
        <map_settings></map_settings>
        <debug_settings></debug_settings>
        <Custom_data_inexport></Custom_data_inexport>
    </q-page>
</template>