<script setup lang="ts">
import { useGeoDataStore } from 'src/stores/geoStore';
const GeoDataStore = useGeoDataStore()
</script>
<template>
    <q-btn
        round
        color="secondary"
        flat
        :icon="GeoDataStore.geolocation ? 'location_on' : 'location_off'"
        @click="GeoDataStore.watchGeoLocation()"
    />
</template>