<script setup lang="ts">
import { openURL, useQuasar } from 'quasar';
import { ScrapedDienststellen } from 'src/stores/StoreTypes';
import Tabbed_info from './dst_show/tabbed_info.vue';
import Minimap from './dst_show/minimapComp.vue';
import expand_mapVue from './dialogs/expand_map.vue';
import { ref, watchEffect } from 'vue';
const $q = useQuasar()


const props = defineProps<{
    dst: ScrapedDienststellen | undefined;
}>()

const preffered_coordinates = ref<number[] | null>(null)
watchEffect(() => preffered_coordinates.value = props.dst?.osm_data.coordinates || props.dst?.coordinates || null)
// Sharing

const CheckShareSupport = () => {
    return !!navigator.share
}

const ShareData = () => {
    if (props.dst) {
        // eslint-disable-next-line @typescript-eslint/no-floating-promises
        navigator.share({
            title: `${props.dst.name}`,
            text: `- ${props.dst.name} -
Straße:  ${props.dst.street}
Ort:  ${props.dst.zip || ''} ${props.dst.city || ''} ${props.dst.region || ''}
Telefon:  ${props.dst.phone || ''}
E-Mail:  ${props.dst.email.replace('mailto:', '') || ''}


${window.location.href}`
        })
    }
}

const Expand_map = () => {
    if (props.dst) {
        $q.dialog({
            component: expand_mapVue,

            // props forwarded to your custom component
            componentProps: {
                coordinates: preffered_coordinates.value
                // ...more..props...
            }
        })
    }
}

</script>
<template>
    <div v-if="props.dst" style="height: 100%;display: flex;
          flex-flow: column;">
        <q-card class="bordered square">
            <q-item>
                <q-item-section avatar>
                    <q-avatar>
                        <img v-if="props.dst.type == 'OV'" src="../assets/thw/OV.svg" />
                        <img v-if="props.dst.type == 'LT'" src="../assets/thw/Leitung.svg" />
                        <img v-if="props.dst.type == 'AZ'" src="../assets/thw/AZ.svg" />
                        <img v-if="props.dst.type == 'LV'" src="../assets/thw/LV.svg" />
                        <img v-if="props.dst.type == 'RST'" src="../assets/thw/Rst.svg" />
                    </q-avatar>
                </q-item-section>

                <q-item-section>
                    <q-item-label style="padding-top: 0; margin-top: 0;">{{ props.dst.name }}</q-item-label>
                    <q-item-label caption style="padding-top: 0; margin-top: 0;">{{ props.dst.code }} || {{
                        props.dst.oeId.toString().slice(3) }}</q-item-label>
                </q-item-section>

                <q-item-section side>
                    <q-btn color="secondary" flat icon="open_in_new"
                        @click.prevent="openURL(`https://thw.de/${props.dst?.link}`)" />
                </q-item-section>
            </q-item>
            <q-separator />

            <q-card-section horizontal style="height: 148px;">
                <div class="row full-width">
                    <div class="col" style="align-self: center; max-width: 111px;">
                        <Minimap v-if="preffered_coordinates" @click="Expand_map" style="max-height: 100%;max-width: 111px;"
                            :coordinates="preffered_coordinates"></Minimap>
                    </div>
                    <q-separator vertical class="q-mx-sm" />
                    <div class="col-5">
                        <div class="padding 0 0 0 0;margin 0 0 0 0;">{{ props.dst.street }}</div>
                        <div class="padding 0 0 0 0;margin 0 0 0 0;">{{ props.dst.zip }} {{ props.dst.city }}</div>
                        <div class="text-left" v-if="props.dst">
                            <q-btn color="secondary" label="In Karte öffnen"
                                @click="props.dst && preffered_coordinates ? openURL(`https://maps.google.com/?q=${preffered_coordinates[0]},${preffered_coordinates[1]}`) : null"
                                flat padding="0" />
                        </div>
                        <q-btn v-if="CheckShareSupport()" color="secondary" style="margin-top: 20px;" flat icon="share"
                            @click="ShareData()" />
                    </div>
                </div>
            </q-card-section>
        </q-card>

        <Tabbed_info :dst="props.dst"></Tabbed_info>
    </div>
</template>