<script setup lang="ts">
import { useScrapedDataStore } from 'src/stores/ScrapedDataStore'
import { ref, toRefs, watch } from 'vue'

// const value = ref<string>('')
// const ScrapedDataStore = useScrapedDataStore()

const emit = defineEmits<{
    (e: 'searchName', name: string): void
    (e: 'einheit', name: string): void
    (e: 'teileinheit', name: string): void
    (e: 'parentLV', name: string): void
    (e: 'expanded', name: boolean): void
}>()

const props = defineProps<{
    type: string
}>()

const ScrapedDataStore = useScrapedDataStore()
const lvlist = ScrapedDataStore.FindDstByAnyAttribute('', '', '', 'LV', '', '', '', []).map(x => x.name)
const { unitindex, Teileinheitindex } = toRefs(ScrapedDataStore)
const searchName = ref<string>('')
const einheit = ref<string>('')
const teileinheit = ref<string>('')
const parentLV = ref<string>('')
const StartSearch = (): void => {
    emit('searchName', searchName.value)
    emit('einheit', einheit.value)
    emit('teileinheit', teileinheit.value)
    emit('parentLV', parentLV.value)
}

watch([searchName, einheit, teileinheit, parentLV], () => {
    StartSearch()
})


</script>
<template>
    <q-card bordered class="text-white">
        <q-input color="secondary" label="Name/Kürzel/ID Suchen..." @input="StartSearch" @keyup="StartSearch"
            v-model="searchName" dense />
        <q-expansion-item v-if="props.type === 'OV'" expand-separator dense dense-toggle
            @before-show="emit('expanded', true)" @after-hide="emit('expanded', false)" label="Mehr Filter..." icon="search"
            header-class="text-secondary" expand-icon-class="text-secondary">
            <q-select v-model="einheit" color="secondary" dense :options="unitindex" label="Einheit">
                <template v-slot:append>
                    <q-icon v-if="einheit !== null" class="cursor-pointer" name="clear" @click.stop="einheit = ''" />
                </template>
            </q-select>

            <q-select v-model="teileinheit" color="secondary" dense :options="Teileinheitindex" label="Teileinheit">
                <template v-slot:append>
                    <q-icon v-if="teileinheit !== null" class="cursor-pointer" name="clear"
                        @click.stop="teileinheit = ''" />
                </template>
            </q-select>
            <q-select v-model="parentLV" color="secondary" dense :options="lvlist" label="LV">
                <template v-slot:append>
                    <q-icon v-if="parentLV !== null" class="cursor-pointer" name="clear" @click.stop="parentLV = ''" />
                </template>
            </q-select>
        </q-expansion-item>
    </q-card>
</template>