<script setup lang="ts">
import { Unit } from 'src/stores/StoreTypes';
import { openURL } from 'quasar';

const props = defineProps<{
    units: Unit[]
}>()

</script>
<template>
    <q-list bordered separator class="full-width" v-if="props.units">
        <template v-for="subeinheit in props.units" :key="subeinheit.name">
            <q-item>
                <q-item-section>
                    <q-expansion-item default-opened dense expand-separator :label="subeinheit.name">
                        <template v-if="subeinheit.teileinheit">
                            <q-list bordered v-for="teileinheit in subeinheit.teileinheit"
                                :key="teileinheit ? teileinheit.name : ''">
                                <q-item clickable v-if="teileinheit">
                                    <q-item-section>
                                        <q-item-label>{{ teileinheit.name }}</q-item-label>
                                        <template v-if="teileinheit.extra">
                                            <q-item-label class="text-italic">{{ teileinheit.extra }}</q-item-label>
                                        </template>
                                    </q-item-section>

                                    <q-item-section side>
                                        <q-btn color="secondary" flat icon="open_in_new"
                                            @click.prevent="teileinheit.link ? openURL(`https://thw.de/${teileinheit.link}`) : null" />
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </template>
                    </q-expansion-item>
                </q-item-section>
            </q-item>
        </template>
    </q-list>
</template>