<script setup lang="ts">
import { ScrapedDienststellen } from 'src/stores/StoreTypes';
import { openURL, copyToClipboard } from 'quasar';
import { useScrapedDataStore } from 'src/stores/ScrapedDataStore';
import { useRouter } from 'vue-router';
const router = useRouter()
const ScrapedDataStore = useScrapedDataStore()
const props = defineProps<{
    dst: ScrapedDienststellen
}>()

const OpenParent = (parent: string) => {
    const the_parent = ScrapedDataStore.FindByName(parent)
    if (the_parent) {
        router.push(`/dst/${the_parent.oeId}`)
    }

}

</script>
<template>
    <q-list dark bordered separator class="full-width">
        <template v-for="parent in props.dst.parents || []" :key="parent">
            <q-item clickable v-ripple>
                <q-item-section>
                    <q-item-label overline>Übergeordnete Dienststelle</q-item-label>
                    <q-item-label>{{ parent }}</q-item-label>
                </q-item-section>
                <q-item-section side style="display:inline-block">
                    <q-btn
                        color="secondary"
                        flat
                        title="DST öffnen"
                        icon="open_in_full"
                        @click="parent ? OpenParent(parent) : null"
                    />
                    <q-btn
                        color="secondary"
                        flat
                        icon="content_copy"
                        @click.prevent="parent ? copyToClipboard(parent) : null"
                    />
                </q-item-section>
            </q-item>
        </template>
        <q-item v-ripple>
            <q-item-section>
                <q-item-label overline>Telefon</q-item-label>
                <q-item-label>{{ props.dst.phone }}</q-item-label>
            </q-item-section>
            <q-item-section side style="display:inline-block">
                <q-btn
                    color="secondary"
                    flat
                    icon="call"
                    @click="props.dst ? openURL(`tel: ${props.dst.phone}`) : null"
                />
                <q-btn
                    color="secondary"
                    flat
                    icon="content_copy"
                    @click.prevent="props.dst ? copyToClipboard(`${props.dst.phone}`) : null"
                />
            </q-item-section>
        </q-item>
        <q-item v-ripple>
            <q-item-section>
                <q-item-label overline>E-Mail</q-item-label>
                <q-item-label>{{ props.dst.email.replace('mailto:', '') }}</q-item-label>
            </q-item-section>
            <q-item-section side style="display:inline-block">
                <q-btn
                    color="secondary"
                    flat
                    icon="send"
                    @click="props.dst ? openURL(props.dst.email) : null"
                />
                <q-btn
                    color="secondary"
                    flat
                    icon="content_copy"
                    @click.prevent="props.dst ? copyToClipboard(props.dst.email.replace('mailto:', '')) : null"
                />
            </q-item-section>
        </q-item>
        <q-item clickable v-if="props.dst.website" v-ripple>
            <q-item-section>
                <q-item-label overline>Website</q-item-label>
                <q-item-label>{{ props.dst.website }}</q-item-label>
            </q-item-section>
            <q-item-section side style="display:inline-block">
                <q-btn
                    color="secondary"
                    flat
                    icon="open_in_new"
                    @click="props.dst ? openURL(props.dst.website) : null"
                />
                <q-btn
                    color="secondary"
                    flat
                    icon="content_copy"
                    @click.prevent="props.dst ? copyToClipboard(props.dst.website) : null"
                />
            </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
            <q-item-section>
                <q-item-label overline>Fax</q-item-label>
                <q-item-label>{{ props.dst.fax }}</q-item-label>
            </q-item-section>
            <q-item-section side style="display:inline-block">
                <q-btn
                    color="secondary"
                    flat
                    icon="print"
                    @click="props.dst ? openURL(`tel: ${props.dst.fax}`) : null"
                />
                <q-btn
                    color="secondary"
                    flat
                    icon="content_copy"
                    @click.prevent="props.dst ? copyToClipboard(`${props.dst.fax}`) : null"
                />
            </q-item-section>
        </q-item>
    </q-list>
</template>
