<script setup lang="ts">
import { Leader } from 'src/stores/StoreTypes';

const props = defineProps<{
    leader: Leader[]
}>()


</script>
<template>
    <q-list
        dark
        bordered
        separator
        class="full-width"
        v-for="leader in props.leader || []"
        :key="leader.title"
    >
        <q-item clickable v-ripple>
            <q-item-section>
                <q-item-label overline>{{ leader.title }}</q-item-label>
                <q-item-label>{{ leader.name }}</q-item-label>
            </q-item-section>
        </q-item>
    </q-list>
</template>