<script setup lang="ts">
import { ScrapedDienststellen } from 'src/stores/StoreTypes';
import { ref } from 'vue';
import { onBeforeRouteUpdate, useRoute, useRouter } from 'vue-router';
import Dst_list from '../dst_list.vue';
import Tab_contact from './tab_contact.vue';
import Tab_units from './tab_units.vue';
import Tab_leader from './tab_leader.vue';
import { watch } from 'vue'
import Custom_contact from '../dst_show_custom_input/custom_contact.vue';
import Tab_notes from '../dst_show_custom_input/tab_notes.vue';
const router = useRouter();
const route = useRoute();
const props = defineProps<{
    dst: ScrapedDienststellen;
}>();

const tab = ref<string>('contact');
const tabs = ref<{ to: { name: string, params: { tab: string } }; label: string; active: boolean }[]>([
    { to: { name: 'dst_full', params: { tab: 'contact' } }, label: 'Kontakt', active: true },
    { to: { name: 'dst_full', params: { tab: 'units' } }, label: 'Einheiten', active: true },
    { to: { name: 'dst_full', params: { tab: 'leader' } }, label: 'Führung', active: true },
    { to: { name: 'dst_full', params: { tab: 'childs' } }, label: 'Unterstellt', active: true },
    { to: { name: 'dst_full', params: { tab: 'notes' } }, label: 'Notizen', active: true },
]);

const ChangeRouteBySwipe = (tab_name: string) => {
    const tab_to = tabs.value.find(t => t.to.params.tab === tab_name);
    // Navigate to tab
    if (tab_to) {
        router.replace(tab_to.to);
    }
};

// Set item with label Einheiten in tabs to inactive if no units are available


const CheckTabActive = () => {
    tabs.value = tabs.value.map(t => {
        if (t.label === 'Einheiten') {
            t.active = props.dst.type === 'OV' && props.dst.units && props.dst.units.length > 0;
        }
        // When dst is OV set childs to inactive
        if (t.label === 'Unterstellt') {
            t.active = props.dst.type !== 'OV';
        }
        return t;
    });
}



tab.value = route.params.tab as string || 'contact';
console.log(tab.value);

onBeforeRouteUpdate(async (to, from) => {
    if (to.params.tab !== from.params.tab) {
        tab.value = to.params.tab as string || 'contact';
    }
})

CheckTabActive();

// CheckTabActive when dst changes
watch(props, () => {
    CheckTabActive();
})


</script>
<template>
    <q-tabs
        active-color="secondary"
        inline-label
        indicator-color="secondary"
        align="justify"
        narrow-indicator
    >
        <q-route-tab
            replace
            v-for="in_tab in tabs.filter((x) => x.active)"
            :key="in_tab.label"
            v-bind="in_tab"
        />
    </q-tabs>
    <q-tab-panels
        v-model="tab"
        animated
        swipeable
        style="height: 100%;"
        @update:model-value="e => ChangeRouteBySwipe(e as string)"
    >
        <q-tab-panel name="contact">
            <Tab_contact :dst="props.dst"></Tab_contact>
            <Custom_contact :dst_id="props.dst.oeId"></Custom_contact>
        </q-tab-panel>
        <q-tab-panel name="units" v-if="props.dst.type === 'OV'">
            <Tab_units :units="props.dst.units"></Tab_units>
        </q-tab-panel>
        <q-tab-panel name="leader">
            <Tab_leader :leader="props.dst.leader"></Tab_leader>
        </q-tab-panel>
        <q-tab-panel name="childs" v-if="props.dst.type !== 'OV'">
            <Dst_list :subtract-pixels="400" :parent="props.dst.name"></Dst_list>
        </q-tab-panel>
        <q-tab-panel name="notes">
            <Tab_notes :dst_id="props.dst.oeId"></Tab_notes>
        </q-tab-panel>
    </q-tab-panels>
</template>

