<template>
  <router-view></router-view>
</template>

<script lang="ts">
import { useQuasar } from 'quasar';
import { defineComponent } from 'vue';
import DevInfoDialog from './components/dialogs/DevInfoDialog.vue';
import v2WelcomeDialogVue from './components/dialogs/v2WelcomeDialog.vue';
import { InitCustomStore } from './stores/ScrapedDataStore';
import { useUserSettingsStore } from './stores/UserSettingsStore';
import { useVersionStore } from './stores/versionStore';
import RelaunchInfoDialog from './components/dialogs/RelaunchInfoDialog.vue';
export default defineComponent({
  name: 'App'
  , setup() {
    const q = useQuasar()
    InitCustomStore()
    const versionStore = useVersionStore()
    const userSettingsStore = useUserSettingsStore()
    q.dark.set(true)
    if (versionStore.BuildStage === 'DEV') {
      setTimeout(() => {
        q.dialog({
          dark: true,
          persistent: true,
          noBackdropDismiss: true,
          component: DevInfoDialog,
        })
      }, 900);
    }
    if (userSettingsStore.firstVisit) {
      setTimeout(() => {
        q.dialog({
          dark: true,
          persistent: true,
          noBackdropDismiss: true,
          component: v2WelcomeDialogVue,
        })
      }, 900);
    }

    setTimeout(() => {
      q.dialog({
        dark: true,
        persistent: true,
        noBackdropDismiss: true,
        component: RelaunchInfoDialog,
      })
    }, 1000);

    return {

    }
  }
})
</script>
<style>
::-webkit-scrollbar {
  width: 4px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #1b2431;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #ffff00;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #9b9b00;
}
</style>
