<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar';
import { ref } from 'vue';
const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } =
    useDialogPluginComponent();
// const props = defineProps<{
//     coordinates: number[];
// }>()

defineEmits([
    // REQUIRED; need to specify some events that your
    // component will emit through useDialogPluginComponent()
    ...useDialogPluginComponent.emits,
]);

const contact_types = ['tel', 'web', 'mail'];

const contact_infos = ref<{ type: string; title: string; value: string }>({
    type: '',
    title: '',
    value: '',
});

const GetValueType = () => {
    switch (contact_infos.value.type) {
        case 'tel':
            //contact_infos.value.value = '';
            return 'tel';
        case 'web':
            //contact_infos.value.value = 'http://';
            return 'url';
        case 'mail':
            //contact_infos.value.value = '';
            return 'email';
        default:
            break;
    }
};

const onReset = () => {
    contact_infos.value = { type: '', title: '', value: '' };
};

function onOKClick() {
    // on OK, it is REQUIRED to
    // call onDialogOK (with optional payload)
    onDialogOK(contact_infos.value);
    // or with payload: onDialogOK({ ... })
    // ...and it will also hide the dialog automatically
}
</script>
<template>
    <q-dialog ref="dialogRef" no-backdrop-dismiss @hide="onDialogHide">
        <q-card class="q-dialog-plugin" style="min-width: 20vw">
            <q-card-section class="q-gutter-md">
                <q-form @submit.prevent="onOKClick" @reset="onReset" class="q-gutter-md">
                    <q-select v-model="contact_infos.type" :options="contact_types" label="Typ *" filled lazy-rules
                        :rules="[
                            (val) => (val && val.length > 0) || 'Darf nicht leer sein',
                        ]" />
                    <q-input square filled v-model="contact_infos.title" label="Titel *" lazy-rules :rules="[
                        (val) => (val && val.length > 0) || 'Darf nicht leer sein',
                    ]" />
                    <q-input square filled v-model="contact_infos.value" label="Wert *" :type="GetValueType()"
                        lazy-rules :rules="[
                            (val) => (val && val.length > 0) || 'Darf nicht leer sein',
                        ]" />
                    <div style="text-align: right">
                        <q-btn icon="check" type="submit" color="green" />
                        <q-btn type="reset" icon="restart_alt" color="primary" flat class="q-ml-sm" />
                        <q-btn icon="close" type="close" @click.prevent="onDialogCancel()" color="red" />
                    </div>
                </q-form>
            </q-card-section>
        </q-card>
    </q-dialog>
</template>
