<script setup lang="ts">

import { useDialogPluginComponent } from 'quasar'
const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()

defineEmits([
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits
])




function onOKClick() {
  // on OK, it is REQUIRED to
  // call onDialogOK (with optional payload)
  onDialogOK()
  // or with payload: onDialogOK({ ... })
  // ...and it will also hide the dialog automatically
}

</script>
<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin q-pa-sm" style="width: 800px;max-width: 100vw;">
      <q-card-section>

        <div class="text-h4"><q-icon name="warning" color="warning" size="4rem" />Keine Datenaktualisierung <q-icon
            name="warning" color="warning" size="4rem" /></div>

        <p>
          Diese Anwendung nutzt einen Regelmäßigen Abzug der Daten von thw.de. (<a
            href="https://gitlab.com/Manuel_Raven/dienststellen-scraper-extended" target="_blank">Daten Scraper</a>)
          Durch den Relauch
          der Webseite am
          18.12.2023 ist es nicht mehr möglich die Daten zu aktualisieren.
          <br />
          <br />
          Ob und wann wieder eine Aktualisierung möglich ist, ist noch nicht bekannt.
          <br />
          <b>
            Letzer Stand der Daten: 14.12.2023
          </b>
        </p>

      </q-card-section>

      <q-card-actions align="around">
        <q-btn color="primary" label="ok" @click="onOKClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
