<script setup lang="ts">

import { useDialogPluginComponent } from 'quasar'
import { useUserSettingsStore } from 'src/stores/UserSettingsStore';
import confetti from 'canvas-confetti';
const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()
const usersettingsstore = useUserSettingsStore()

defineEmits([
    // REQUIRED; need to specify some events that your
    // component will emit through useDialogPluginComponent()
    ...useDialogPluginComponent.emits
])

var count = 200;
var defaults1 = {
    zIndex: 9999999,
    origin: { y: 0.7 }
};

function fire(particleRatio: number, opts: { spread?: number, startVelocity?: number, decay?: number, scalar?: number }) {
    confetti(Object.assign({}, defaults1, opts, {
        particleCount: Math.floor(count * particleRatio)
    }));
}

fire(0.25, {
    spread: 26,
    startVelocity: 55,
});
fire(0.2, {
    spread: 60,
});
fire(0.35, {
    spread: 100,
    decay: 0.91,
    scalar: 0.8
});
fire(0.1, {
    spread: 120,
    startVelocity: 25,
    decay: 0.92,
    scalar: 1.2
});
fire(0.1, {
    spread: 120,
    startVelocity: 45,
});



var duration = 15 * 1000;
var animationEnd = Date.now() + duration;
var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 9999999 };

function randomInRange(min: number, max: number) {
    return Math.random() * (max - min) + min;
}

// eslint-disable-next-line @typescript-eslint/no-explicit-any
let interval: any = setInterval(function () {
    var timeLeft = animationEnd - Date.now();

    if (timeLeft <= 0) {
        return clearInterval(interval);
    }

    var particleCount = 50 * (timeLeft / duration);
    // since particles fall down, start a bit higher than random
    confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } }));
    confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } }));
}, 250);


function onOKClick() {
    // on OK, it is REQUIRED to
    // call onDialogOK (with optional payload)
    usersettingsstore.firstVisit = false
    onDialogOK()
    // or with payload: onDialogOK({ ... })
    // ...and it will also hide the dialog automatically
}

</script>
<template>
    <q-dialog ref="dialogRef" @hide="onDialogHide">
        <q-card class="q-dialog-plugin q-pa-sm" style="width: 800px;max-width: 100vw;">
            <q-card-section>
                <div class="text-h4">Willkommen zum THW-Adressbuch v2</div>

                <p class="text-h5">Was ist neu ?</p>
                <ul>
                    <li>Neuschreibung auf Basis von Quasar v2 und Vue 3</li>
                    <li>Minimap (kleine Karte) zeigt den Ort einer Dienststelle an</li>
                    <li>Volltext Suche</li>
                    <li>Ausbildungszentren</li>
                    <li>Benutzerdefinierte Kontakte und Notizen</li>
                    <li>...</li>
                </ul>
            </q-card-section>
            <q-card-actions align="right">
                <q-btn color="primary" label="Cool" @click="onOKClick" />
            </q-card-actions>
        </q-card>
    </q-dialog>
</template>