<script setup lang="ts">
import { exportFile, useQuasar } from 'quasar';
import { useUserCustomDataStore } from 'src/stores/UserCustomDataStore';
import { ref } from 'vue';


const $q = useQuasar()
const UserCustomDataStore = useUserCustomDataStore()
const uploadfile = ref<null | File>(null)
// @ts-expect-error PWA
if ('launchQueue' in window && 'files' in LaunchParams.prototype) {
    console.log('fileHandle Support')
    // @ts-expect-error PWA
    launchQueue.setConsumer((launchParams) => {
        // Nothing to do when the queue is empty.
        if (!launchParams.files.length) {
            return;
        }
        for (const fileHandle of launchParams.files as FileSystemHandle[]) {
            if (fileHandle.kind === 'file') {
                (fileHandle as FileSystemFileHandle).getFile().then((file) => {
                    uploadfile.value = file
                    ImportFile()
                })
            }
        }
    });
}

// const OpenOneFile = async (fileHandle: FileSystemHandle) => {
//   if (fileHandle.kind == 'file') {
//     const file = await fileHandle.getFile();
//     OpenedFile.value = {
//       name: file.name,
//       text: await file.text(),
//       handle: fileHandle,
//     };
//     console.log(OpenedFile);
//   }
// };

const ExporttoFile = () => {
    const status = exportFile(
        'BenutzerDaten.abbd',
        JSON.stringify(UserCustomDataStore.custom_info, null),
        'text/plain'
    )
    if (status === true) {
        // browser allowed it
    }
    else {
        // browser denied it
        console.error('Error: ' + status)
    }
}

const ExportFileAndShare = async () => {

    // string to blob
    try {
        const blob = new Blob([JSON.stringify(UserCustomDataStore.custom_info, null)], { type: 'text/plain' })
        let file = new File([blob], 'BenutzerDaten.txt', { type: blob.type });
        let filesArray = [file];
        if (navigator.canShare && navigator.canShare({ files: filesArray })) {
            await navigator.share({
                text: 'Benutzerdefinierte Daten Export aus dem THW-Adressbuch',
                files: filesArray,
                title: 'Datenexport aus THW-Adressbuch',
                url: window.location.href
            });
        }

        // eslint-disable-next-line @typescript-eslint/no-explicit-any
    } catch (err: any) {
        console.log(err.name, err.message);
    }
}


// Press Button and Open FilePicker
const ImportFile = () => {

    $q.dialog({
        dark: true,
        title: 'Bestätigen',
        message: 'Sind Sie sicher, dass Sie die Daten importieren möchten? (Überschreibt alle bestehenden Daten)',
        cancel: true,
        persistent: true
    }).onOk(() => {
        if (uploadfile.value) {

            const reader = new FileReader()
            // eslint-disable-next-line @typescript-eslint/no-explicit-any
            reader.onload = (e: any) => {
                try {
                    const data = JSON.parse(e.target.result)
                    UserCustomDataStore.custom_info = data
                    $q.notify({
                        type: 'positive',
                        message: 'Daten erfolgreich importiert'
                    })
                } catch (error) {
                    $q.notify({
                        type: 'negative',
                        message: 'Daten konnten nicht importiert werden'
                    })
                }
            }
            reader.readAsText(uploadfile.value)
            uploadfile.value = null
        }
    }).onCancel(() => {
        // console.log('>>>> Cancel')
    }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
    })
}

const ExportToFileIos = () => {
    const file = new Blob([JSON.stringify(UserCustomDataStore.custom_info, null)], { type: 'text/plain' })

    var reader = new FileReader();
    reader.onload = function () {
        let popup = window.open();
        let link = document.createElement('a');
        link.setAttribute('href', reader.result as string);
        link.setAttribute('download', 'BenutzerDaten.abbd');
        popup?.document.body.appendChild(link);
        link.click();
    }
    reader.readAsDataURL(file);
}


</script>
<template>
    <q-card>
        <q-card-section>
            <div class="text-h5">Benutzerdaten In/Export</div>
            <div class="text-subtitle">Benutzerdefinierte Daten In/Exportieren</div>
        </q-card-section>
        <q-card-section class="q-gutter-sm">
            <q-btn color="primary" icon="download" label="Export" @click="ExporttoFile" />
            <q-btn color="primary" icon="download" label="Export (iOS)" @click="ExportToFileIos" />
            <q-btn color="primary" icon="download" label="Export & Share" @click="ExportFileAndShare" />
            <q-file clearable filled v-model="uploadfile" accept=".abbd, application/json, text/plain"
                label="Datei zum Import" style="max-width: 400px;" />
            <q-btn color="primary" icon="upload" :disable="!uploadfile" label="Import" @click="ImportFile" />
            <q-separator spaced dark />
        </q-card-section>

    </q-card>
</template>