<script setup lang="ts">import { useScrapedDataStore } from 'src/stores/ScrapedDataStore';
import { useUserSettingsStore } from 'src/stores/UserSettingsStore';

const ReloadPage = () => {
    window.location.reload()
}

const ScrapedDataStore = useScrapedDataStore()
const userSettingsStore = useUserSettingsStore()
const ResetFirstVisit = () => {
    userSettingsStore.firstVisit = true
}

</script>
<template>
    <q-card>
        <q-card-section>
            <div class="text-h5">Debug</div>
            <div class="text-subtitle">Sachen zur Fehler-Erkennung und Behebung</div>
        </q-card-section>
        <q-card-section class="q-gutter-sm">
            <q-btn color="primary" icon="refresh" label="Fenster neuladen" @click="ReloadPage" />
            <q-btn color="primary" icon="refresh" label="'First Visit' zurücksetzen" @click="ResetFirstVisit" />
            <q-separator spaced dark />
        </q-card-section>
        <q-card-section>
            <div class="text-h6">Datenstand</div>
            <div class="text-subtitle2">
                Abgerufen von
                <a target="_blank" href="https://gitlab.com/Manuel_Raven/dienststellen-scraper-extended">thwde
                    Scrapper</a>
            </div>
        </q-card-section>
        <q-card-section>
            <q-list dark bordered separator v-if="ScrapedDataStore.LatestCommitInfo">
                <q-item>
                    <q-item-section>
                        <q-item-label overline>Stand:</q-item-label>
                        <q-item-label>
                            {{
                                    new Date(ScrapedDataStore.LatestCommitInfo.created_at).toLocaleString()
                            }}
                        </q-item-label>
                    </q-item-section>
                </q-item>
                <q-item>
                    <q-item-section>
                        <q-item-label overline>Commit-ID</q-item-label>
                        <q-item-label>{{ ScrapedDataStore.LatestCommitInfo.short_id }}</q-item-label>
                    </q-item-section>
                </q-item>
            </q-list>
        </q-card-section>
    </q-card>
</template>